@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-color: hsla(234, 29%, 20%, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px) {
    body{
        justify-content: start;
        align-items: start;
        background-color: hsla(0, 0%, 100%, 0.98);
    }
}